html {
	font-size: $root-font-size; // 1 rem = 10px & 10px/16px*100 = 62.5%
	position: relative; 
	min-height: 100%;
}

body {
	font-size: 1.6rem;
	font-family: $main-font;
	line-height: 1.6;
	color: $main-color;
	background-color: $body-background-color; 
	width:100%; 
	height:100%;
  overflow-x:hidden;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  
  @include selection {
    color: #fff;
    background-color: #000;
  }

  @include respond(phone) {
     line-height: 1.2;
     text-align: center;
  }

}

.clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

h1 {font-size: 2.6rem;}
h2 {
  font-size: 8rem;

  @include respond(tab-portrait) {
     font-size: 4rem;
  }
  @include respond(phone) {
     font-size: 2.2rem;
  }

}
h3 {font-size: 2.2rem;}
h4 {font-size: 2rem;}
h5 {font-size: 1.8rem;}
h6 {font-size: 1.6rem;}

h1, h2, h3, h4, h5, h6 {
	font-family: $headings-font;
	color: $headings-color;
  text-transform: uppercase;
}

a {
    color: $links-color;
    &:hover, &:focus, &:active {
    	color: $links-hover-color;
  	}
  	/*
  	&:first-child { }
  	&:last-child { }
  	*/
}

// all columns
[class^="col-"] {

}

.example-footer ul li a { 
	color: #eee;
	&:not(:last-child) {
  		margin-right:10px;	
 	}
}

.vh-wrapper {height:100vh; position: relative; width: 100%;}
.vh-50, .absolute-50-middle {position: absolute; top: 50%; width: 100%; 
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); 
  -ms-transform: translateY(-50%); -o-transform: translateY(-50%);
}

/*vertically centered content in grid*/
.row-flex {
  flex-direction: row;
  display: flex;
  display: -webkit-flex; 
  display: -ms-flexbox; 

  -webkit-box-align: stretch; 
  -webkit-align-items: stretch; 
  -ms-flex-align: stretch; 
  align-items: stretch;
}
.col-flex {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;

  align-items: center;
  -webkit-box-align: center; 
  -webkit-align-items: center; 
  -ms-flex-align: center; 
}

/*grid box*/
.grid-img-box-md {height:160px; line-height: 150px; display: flex; align-items: center; overflow:hidden; vertical-align:middle; text-align:center; background-color: #f4f4f4; border:1px solid #eee;}
.grid-img-box-md a {margin:0 auto !important; display:inline-block;}
.grid-img-box-md img {max-height:160px; margin: 0 auto !important; display: inline-block !important; max-width: 100%;}

/*absolute center*/
.absCenter {
  position: absolute;
  top:50%; 
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}

/*background image*/
.backgroundImg {
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

