// FUNCTIONALITY
.cflip {
	perspective: 1500px;
	-moz-perspective: 1500px;
	position: relative;
	height: 500px;

	&__side {
		background-color: orangered;
		font-size: 20px;
		height: 500px;
		transition: all .8s ease;
		position: absolute; top:0; left: 0;
		width: 100%;
		backface-visibility: hidden;
		border-radius: 3px;
		box-shadow: 0 15px 40px rgba(0,0,0,0.15);
		overflow: hidden;

		&--front {
			background-color: #fff;
		}

		&--back {
			transform: rotateY(180deg);

			&-1 {
				background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
			}
			&-2 {
				background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
			}
			&-3 {
				background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
			}
		}

	}

	&:hover &__side--front {
		transform: rotateY(-180deg);
	}

	&:hover &__side--back {
		transform: rotateY(0deg);
	}

	// FRONT SIDE STYLING
	&__picture {
		
		background-size: cover;
		height: 230px;
		background-blend-mode: screen;
		clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

		&--1 {
			background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url('city.jpg');
			// background-image: linear-gradient(to right bottom, rgba(255,185,0,0.5),rgba(255,119,48,0.5)), url('city.jpg');
		}
		&--2 {
			background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url('city.jpg');
		}
		&--3 {
			background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url('city.jpg');
		}
	}

	&__heading {
		font-size: 28px;
		font-weight: 300;
		text-transform: uppercase;
		color: #fff;
		position: absolute; top: 120px; right: 20px;
		text-align: right;
		width: 200px;
	}

	&__heading-span {

		padding: 6px 10px;
		line-height: 1.8;
		box-decoration-break: clone;
		-webkit-box-decoration-break: clone;

		&--1 {
			background-image: linear-gradient(to right bottom, rgba(255,185,0,0.85),rgba(255,119,48,0.85));
		}
		&--2 {
			background-image: linear-gradient(to right bottom, rgba(41,152,255,0.85),rgba(86,67,250,0.85));
		}
		&--3 {
			background-image: linear-gradient(to right bottom, rgba(126,213,111,0.85),rgba(40,180,133,0.85));
		}
	}

	&__details {

		text-align: center;

		ul {
			
			list-style: none;
			width: 80%;
			padding: 0;
			margin: 20px auto 0 auto;

			li {
				text-align: center;
				font-size: 15px;
				padding: 10px;

				&:not(:last-child) {
					border-bottom: 1px solid #eee;
				}
			}
		}
	}

	// BACK SIDE STYLING
	&__cta {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	&__price-box {
		color: #fff;
	}

	&__price-only {
		font-size: 14px;
		text-transform: uppercase;
	}

	&__price-value {
		font-size: 60px;
		font-weight: 100;
		margin-bottom: 50px;
	}

	&__btn--white {
		
		padding: 16px 40px;
		border-radius: 40px;
		background-color: #fff;
		color: #000;
		font-size: 14px;
		box-shadow: 0px 10px 40px rgba(0,0,0,0.2);
		text-transform: uppercase;

		&:hover {
			background-color: #eee;
			text-decoration: none;
			color: #000;
		}
	}

}

