%bg-img {
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*
.image-one {
    @extend %bg-img;
    background-image:url(../assets/images/image-one.jpg");
}
*/

%btn {
    padding: 10px 40px;
    color:#fff;
    curser: pointer;
    border: none;
    shadow: none;
    font-size: 16px;
    text-align: center;
    display: inline-block;
}

/*
@extend %btn;
*/

