// === loops ===

@for $i from 1 through 6 {
    .col-#{$i} {
        width: $i * 2em;
    }
}

/*******/
/*******/
/*******/

@for $i from 1 to 6 {
    .col-md-#{$i} {
        width: $i * 2em;
    }
}

/*******/
/*******/
/*******/

$speakers: javed, ron, bob;
@each $speaker in $speakers {
    .#{$speaker}-profile {
        background-image: url('assets/images/#{$speaker}.png');
    }
}

/*******/
/*******/
/*******/

$font-sizes: (tiny: 8px, small: 11px, medium: 13px, large: 18px);
@each $name, $size in $font-sizes {
    .#{$name} {
        font-size: $size;
    }
}

/*******/
/*******/
/*******/

$j: 2;
@while $j <= 8 {
    .picture-#{$j} {
        width: $j * 10%;
    }
    $j: $j + 2;
}