// === EXTEND ELEMENTS ===

$color-primary: #333;
$color-secondary: #000;

// extend is a placeholder
// extend is like mixins

%btn-placeholder {
	color: #fff;
	padding: 10px;	
	display: inline-block;
	text-align: center;
	border-radius: 100px;
}

// copy placeholder values to button and its link satte and change hover state and change the bg colors in those extra states only
.btn-main {
		@extend %btn-placeholder;
	&:link {
		@extend %btn-placeholder;
		background-color: $color-primary;
	}
	&:hover, &:focus {
		@extend %btn-placeholder;
		background-color: $color-secondary;
	}	
}