.cr {
	
	&__radio-input {

	}

	&__radio-label {
		position: relative;
	}

	&__radio-button {
		
		position: absolute;
		content: "";
		position: absolute;
		right: -20px; top: 5px; 
		width: 14px; height: 14px;
		border: 2px solid #000;
		border-radius: 50%;

		&::after {
			content: "";
			position: absolute;
			top: 50%; left: 50%; 
			width: 5px; height: 5px;
			background-color: #000;
			border-radius: 50%;
			transform: translate(-50%,-50%);
			opacity:0;
			transition: all 0.3s ease;
		}
	}

	&__radio-input:checked ~ &__radio-label &__radio-button::after {
		opacity:1;
	}

}

