// This is a partial 
// _ (underscore) in file name in start, makes it partial

// === FONTS ===

$main-font: 'Open Sans', sans-serif;
$headings-font: 'Montserrat', sans-serif;

// === SIZES ===

$badge-custom-width: 40px;
$badge-custom-height: 40px;

