// === PSEUDO ELEMENTS ===

a {
	color: #000;
	&:hover {
		color: #ff6600;
	}
	&:focus {
		color: #ff6600;	
	}
	&:first-child {
		text-decoration: underline;
	}
}


.header {
 	font-size:20px;
 	
 	&__text-box {
  		color:#000;
 	}
}


.row { 
	background-color: #eee;
 
	&:not(:last-child) {
  		margin-right:20px;	
 	}
}

