// ==== SASS inheretance / extend ====

.error {
    color: red;
    font-size: 14px;
}

.critical-error {
    @extend .error;
    font-weight: bold;
    font-size: 20px;
}

.critical-most-error {
    @extend .error;
    @extend .error-red !optional;
    // Use !optional flag when you are not sure that a class exists or not. This will not stop preprocessor from compiling code. Otherwise compiler will stop.
}

// // multiple selectors

/*

// this is ok 
.critical-error {
    @extend .error;
    @extend .red;
 }
// this is ok
.critical-error {
    @extend .error.red;
 }
// this is ok
.critical-error {
    @extend .error:hover;
 }
 // not ok ??????????????????? 
 .critical-error {
    @extend .error .red;
 }

 *** Also for media queries you can extend a class/selector that is inside that media query only

 @media screen {
     .foo {...}
     .super-cta {
         @extend .foo;
         ...
     }
 }

 */