// ==== mixins are code blocks for reuse ====
// ==== not just the single variable but kind multile instructions ====
// ==== define mixins ====
@mixin mxn-warning {
    background-color: #da9412;
    color: #fff;
}

@mixin mxn-error {
    background-color: #aa0909;
    color: #fff;
}

// ==== nested mixin
@mixin mxn-error-block {
    @include mxn-error;
    font-weight: bold;
    position: relative;
}

// ==== root level mixin ==== styles for a 
@mixin fancy-links {
    a {
        font-style: italic;
        text-decoration: none
    }
}

@mixin absCenter {
    position: absolute;
    top:50%; 
    left:50%;
    transform: translate(-50%,-50%);
}

/*
.class {
    @include absCenter;
}
*/

// ==== Use mixins ====
// ==== root level include ====
@include fancy-links;
// ==== this wont put styles in .fancy-links a {}
// ==== this will put styles in a {}
.btn-warning {
    @include mxn-warning;
    font-size: 14px;
}

.btn-error {
    @include mxn-error;
    font-size: 14px;
}

.error-block {
    @include mxn-error-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 4px;
    border: 1px solid #000;
}